@charset "UTF-8";

/*Typical Device BreackPoints
Tablet: de 768 até 992px
Desktop: de 992 até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        margin: auto;
        width: 600px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        transition-timing-function: ease;
    }
    section.container-left{
        width: 250px;
        border-radius: 10px 0px 0px 10px;
    }
    section.container-rigth{
        width: 350px;
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main{
        margin: auto;
        width: 800px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        transition-timing-function: ease;
    }
    section.container-left{
        width: 300px;
        border-radius: 10px 0px 0px 10px;
    }
    section.container-rigth{
        width: 500px;
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 1200px){
    main{
        margin: auto;
        width: 1000px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        transition-timing-function: ease;
    }
    section.container-left{
        width: 400px;
        border-radius: 10px 0px 0px 10px;
    }
    section.container-rigth{
        width: 600px;
        border-radius: 0px 10px 10px 0px;
    }
}