@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root{
    --cor1: #ffffff;
    --cor2: #494E5F;
    --cor3: #FFE7D4;
    --font: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

/*Configuração global*/
p{
    font-size: 0.8em;
}

li{
    font-size: 0.8em;
}
/*********************/

main{
    margin: auto;
    width: 300px;
    box-shadow: 1px 1px 3px #00000083;
    background-color: var(--cor1);
}

/*Inicio da section.container-rigth*/
section.container-left{
    width: 300px;
    background-color: var(--cor2);
    padding: 20px;
}

div.titulo{
    width: 300px;
    margin: 10px;
    margin-right: 10px;
}

div.titulo > h1{
    color: var(--cor3);
    margin-bottom: 5px;
}

div.titulo > img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

div.titulo > p{
    width: 250px;
    color: var(--cor1);    
    padding-bottom: 20px;
    border-bottom: 2px solid var(--cor3);
}

div.perfil-pessoal{
    margin: 10px;
    color: var(--cor1);
}

div.perfil-pessoal > h2{
    color: var(--cor3);
    margin-top: 20px;
    margin-bottom: 10px;
}

div.perfil-pessoal > p{
    color: var(--cor1);
    margin-bottom: 20px;
    text-align: justify;/
}

div.perfil-pessoal > h3{
    color: var(--cor3);
    margin-bottom: 10px;
}

div.perfil-pessoal > ul{
    margin-left: 20px;
    color: var(--cor1);
}


div.contato{
    margin: 10px;
    background-color: var(--cor2);
}

div.contato > h2{
    color: var(--cor3);
    margin-top: 20px;
    margin-bottom: 10px;
}

div.contato > figure{
    text-align: center;
}

div.contato > figure > a{
    margin: 0px 20px;
}

div.contato > p{
    text-align: center;
    color: var(--cor1);
    margin-top: 20px;
}

/*Inicio da section.container-rigth*/

section.container-rigth{
    min-width: 300px;
    background-color: #d1d1d1;
    padding: 20px;
}

section.container-rigth > div{
    margin: 10px;
}

section.container-rigth > div > h1{
    padding-left: 20px;
    margin: 20px 0px;
    color: var(--cor1);
    background-color: var(--cor2);
}

section.container-rigth > div > ul{
    padding: 10px 0px 20px 20px;
}

section.container-rigth > div > ul > li{
    margin: 10px 0px;
}

/******************************************/